{#
 # The site layout template
 # ------------------------
-#}

{% extends "_layouts/base" %}

{% block body %}

	<div id="preloader">
		<div id="loader" class="dots-fade">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	{% include '_sectors/header' %}
	{% block main %}{% endblock %}
	{% include '_sectors/footer' %}
	{% include '_sectors/photoswipe' %}
{% endblock %}
